
		.body {
			background-image: url( ../imagenes/Logo-Transparencia-Uchiague.png );
			background-position: center center;
		}
		.bordes {
			//border: 1px #000 solid;
			text-align: center;
			height: auto; 
			box-sizing: border-box;

		}
		.panel {
			background: #98092b;
			color: #fff;
			justify-content: flex-start;
			font-size: 1.5em;
		}
		.botones-ctrl {
			vertical-align: middle;
			text-align: center;
			font-size:1em;
			padding: 5;
		}
		.aka {
			background: #F18282;
			vertical-align: middle;
			text-align: center;
			font-size:1em;
			font-weight:bold;
			padding: 5px;
		}			
		.ao {
			background: #87E2E2;
			vertical-align: middle;
			text-align: center;
			font-size:1em;
			font-weight:bold;
			padding: 5px;
		}		
		.display-b {
			vertical-align: middle;
			text-align: center;
			font-size: 1em;
			font-weight:bold;
			height: 50px;
		}		
		.display-n {
			vertical-align: middle;
			text-align: center;
			font-size: 1.5em;
			height: 50px;
		}
		.categoria {
			width: auto;
			font-size: 1em;
			background-color:rgba(255,0,0,0.1);
		}


