		@media  (max-width: 320px){
			.panel {
				background: #2b9809;
				color: #fff;
				justify-content: flex-start;
				font-size:0.75em;
			}
			.botones-ctrl {
				vertical-align: middle;
				text-align: center;
				font-size:0.6em;
			}
			.aka {
				vertical-align: middle;
				text-align: center;
				font-size:0.6em;
			}			
			.ao {
				background: #3F7FBF;
				vertical-align: middle;
				text-align: center;
				font-size:0.6em;
			}
			.display-b {
				vertical-align: middle;
				text-align: left;
				font-size:0.70em;
				white-space: normal;
				margin: 0;	
			}
			.display-n {
				vertical-align: middle;
				text-align: center;
				font-size:1.25em;
			}
			.categoria {
				width: auto;
				font-size: 0.6em;
			}
		}